In [18]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

s1=set(a)
s2=set(b)

print("Common Elements:-",s1.intersection(s2))

Common Elements:- {1, 2, 3, 5, 8, 13}

In [9]:
a = [5, 10, 15, 20,22,21,44,90]

10 in a

True

In [13]:
a = ['B','T','S','T','X','T']

'B' in a

True

In [16]:
name_li=["KN","KS","MY","JH","PJ","KT","JJ"]

name=input("Type your name:-")

if name in name_li:
    print("Member of BTS")

Type your name:-JJ
Member of BTS

In [34]:
li=[('a', 10), ('b', 20), ('c', 30), ('d', 40)]


def unzip(list1):
    nozip=[]
    nozip2=[]
    for (x,y) in list1:
        nozip.append(x)
        nozip2.append(y)
            
        
    
    return nozip,nozip2



unzip(li)

(['a', 'b', 'c', 'd'], [10, 20, 30, 40])

In [38]:
li=[('NJ',94),('KS',92),('MY',93),('JH',94),('PJ',95),('KT',95),('JJ',97)]

def unzip(newlist):
    nozip1=[]
    nozip2=[]
    for (a,b) in newlist:
        nozip1.append(a)
        nozip2.append(b)
    return nozip1,nozip2

unzip(li)

(['NJ', 'KS', 'MY', 'JH', 'PJ', 'KT', 'JJ'], [94, 92, 93, 94, 95, 95, 97])

In [77]:
li=[('NJ',94),('KS',92),('MY',93),('JH',94),('PJ',95),('KT',95),('JJ',97)]


def index_no(myli,val):
    count=0
    for var in myli:
        print(var,count)
        if val in var:
            ind=var.index(val)
            break
        count+=1
    return count,ind
        
index_no(li,93)

('NJ', 94) 0
('KS', 92) 1
('MY', 93) 2

(2, 1)

In [67]:
li=[('NJ',94),('KS',92),('MY',93),('JH',94),('PJ',95),('KT',95),('JJ',97)]

li.index(('MY',93))

2